@import "reset.scss";
@import "focus-box.scss";
@import "variables.scss";
@import "mixins.scss";


.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

#main-nav {
  background: $deepBlue;

  ul {
    width: 100%;
    list-style-type: none;
    @include clearFix;
  }

  li {
    float: left;
    width: (100% / 4);
  }

  a {
    color: $offWhite;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    font-family: 'Roboto', arial, sans-serif;
    &:hover {
      background: #333;
    }
  }
}

#services {
  li {
    background: #FFF;
  }

}

section h1 {
  font-size: $sectionHeading;
  color: $deepBlue;
}

.lead-banner {
  @include banner;
  text-align: right;
}

.middle-banner {
  @include banner;

  li {
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    margin: 20px 0;
  }
}