body {
  font-family: 'Roboto',arial,sans-serif;
  background: #f8f9fb;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin-top: 0;
}

fieldset img {
  border: 0;
}

ul {
  width: 100%;
  list-style-type: none;
}

ul:after {
  content: "";
  display: block;
  clear: both;
}

header {
  margin-bottom: 40px;
}

/*---------------------------------------
 **   Section: Our focus             -----
-----------------------------------------*/
.focus-box .service-icon .pixeden {
  border-radius: 50%;
  text-align: center;
}

.focus {
  overflow: hidden;
  background: #FFFFFF;
}

.focus .row {
  text-align: center;
}

.focus .row .focus-box, .our-team .row .team-box {
  display: inline-block;
  float: none !important;
  margin-right: -4px;
  vertical-align: top;
  margin-bottom: 25px;
}

/* FOCUS BOX */
.focus-box .service-icon {
  margin-bottom: 30px;
  width: 145px;
  height: 145px;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #ececec;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
.red, .green, .blue, .yellow {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.focus-box:nth-child(4n+1) .service-icon:hover {
  border: 10px solid #e96656;
}

.focus-box:nth-child(4n+2) .service-icon:hover {
  border: 10px solid #34d293;
}

.focus-box:nth-child(4n+3) .service-icon:hover {
  border: 10px solid #3ab0e2;
}

.focus-box:nth-child(4n+4) .service-icon:hover {
  border: 10px solid #f7d861;
}

.focus-box:nth-child(4n+1) .red-border-bottom:before {
  background: #e96656;
}

.focus-box:nth-child(4n+2) .red-border-bottom:before {
  background: #34d293;
}

.focus-box:nth-child(4n+3) .red-border-bottom:before {
  background: #3ab0e2;
}

.focus-box:nth-child(4n+4) .red-border-bottom:before {
  background: #f7d861;
}

.focus-box h5 {
  margin-bottom: 15px;
  color: #404040;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 17px;
  float: none;
  width: auto;
  background: none;
}

.focus-box p {
  font-size: 14px;
  color: #808080;
}

/*----OTHER FOCUSES ----*/
.other-focuses {
  margin-bottom: 25px;
}

.other-focuses .section-footer-title {
  padding: 0 15px;
  color: #404040;
  font-weight: bold;
}

.other-focus-list {
  padding-top: 5px;
  margin-bottom: -17px;
}

.other-focus-list ul li {
  display: inline-block;
  margin-right: 50px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.other-focus-list ul li:last-child {
  margin-right: 0;
}

.other-focus-list ul li i {
  margin-right: 8px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main-nav {
  background: #032f3e;
}

#main-nav ul {
  width: 100%;
  list-style-type: none;
}

#main-nav ul:after {
  content: "";
  display: block;
  clear: both;
}

#main-nav li {
  float: left;
  width: 25%;
}

#main-nav a {
  color: #f8f9fb;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
  font-family: 'Roboto', arial, sans-serif;
}

#main-nav a:hover {
  background: #333;
}

#services li {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 32%;
  border: 0px solid rebeccapurple;
}

#services li:nth-child(3n) {
  margin-right: 0;
}

#services li div {
  background: #FFF;
}

section h1 {
  font-size: 24px;
  color: #032f3e;
  text-align: center;
}

.lead-banner {
  width: 100%;
  position: relative;
  color: red;
  text-align: right;
}

.lead-banner .banner-content {
  position: absolute;
  top: 50px;
  width: 100%;
}

.lead-banner img {
  width: 100%;
}

.lead-banner span {
  width: 100%;
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.lead-banner span.title {
  font-weight: normal;
  margin-bottom: 30px;
  color: pink;
}

.middle-banner {
  width: 100%;
  position: relative;
  color: red;
}

.middle-banner .banner-content {
  position: absolute;
  top: 50px;
  width: 100%;
}

.middle-banner img {
  width: 100%;
}

.middle-banner span {
  width: 100%;
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.middle-banner span.title {
  font-weight: normal;
  margin-bottom: 30px;
  color: pink;
}

.middle-banner li {
  text-transform: uppercase;
  font-size: 20px;
  width: 100%;
  margin: 20px 0;
}
